# Default ignored files
/../../Baby Sim./.idea/shelf/
/../../Baby Sim./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Baby Sim./.idea/httpRequests/
# Datasource local storage ignored files
/../../Baby Sim./.idea/dataSources/
/../../Baby Sim./.idea/dataSources.local.xml
